<div class="body-page">
  <form class="col-md-11 page" (ngSubmit)="onSave()" [formGroup]="inmuebleForm">
    <div class="form-group text-center">
      <img src="../../../../assets//img/camera.png" class="img-camera" alt="" />
      <input id="file" type="file" (change)="onFileChanged($event)" style="display: none;">
      <label style="display: block;" for="file" class="img-text">Colocar imagen</label>
    </div>

    <div class="form row">
      <div class="form-group col-md-6">
        <label for="direccion">Dirección </label>
        <input
          id="direccion"
          type="text"
          placeholder="Intruduce una dirección"
          class="form-control"
          formControlName="direccion"
          [class]="isvalidField('direccion')"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="salon">Salón </label>
        <input
          id="salon"
          type="text"
          placeholder="Introduce un salón"
          class="form-control"
          formControlName="salon"
          [class]="isvalidField('salon')"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="form-group col-md-6">
        <label for="piso">Piso </label>
        <input
          id="piso"
          type="text"
          placeholder="Intruduce el piso"
          class="form-control"
          formControlName="piso"
          [class]="isvalidField('piso')"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="numero">Número </label>
        <input
          id="numero"
          type="number"
          placeholder="Introduce el número"
          class="form-control"
          formControlName="numero"
          [class]="isvalidField('numero')"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="form-group col-md-6">
        <label for="propietario">Propietario </label>
        <!-- <input
          id="propietario"
          type="Select"
          placeholder="Seleccionar"
          class="form-control"
          formControlName="propietarioId"
          [class]="isvalidField('propietarioId')"

        /> -->
        <select
          class="form-control"
          formControlName="propietarioId"
          aria-label="Default select example"
        >
          <option
            *ngFor="let propietario of propietarios"
            value="{{ propietario.id }}"
          >
            {{ propietario.nombre }}
          </option>
        </select>
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="puerta">Puerta </label>
        <input
          id="puerta"
          type="text"
          placeholder="Introduce la puerta"
          class="form-control"
          formControlName="puerta"
          [class]="isvalidField('puerta')"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="form-group col-md-6">
        <label for="telefono">Teléfono</label>
        <input
          id="telefono"
          type="number"
          placeholder="Intruduce el teléfono"
          class="form-control"
          formControlName="telefono"
          [class]="isvalidField('telefono')"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="inquilino">Inquilino </label>
        <input
          id="inquilino"
          type="text"
          placeholder="Introduce el nombre del inquilino"
          class="form-control"
          formControlName="inquilino"
          [class]="isvalidField('inquilino')"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="form-group col-md-6">
        <label for="dormitorio">Dormitorios</label>
        <input
          id="dormitorio"
          type="number"
          placeholder="Intruduce el numero de dormitorios"
          class="form-control"
          formControlName="dormitorio"
          [class]="isvalidField('dormitorio')"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="valoracion">Valoracion </label>
        <input
          id="valoracion"
          type="select"
          placeholder="Seleccionar"
          class="form-control"
          formControlName="valoracion"
          [class]="isvalidField('valoracion')"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="form-group col-md-6">
        <label for="baño">Baño</label>
        <input
          id="baño"
          type="number"
          placeholder="Intruduce el numero de baños"
          class="form-control"
          formControlName="baño"
          [class]="isvalidField('baño')"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="cocina">Cocina </label>
        <input
          id="cocina"
          type="text"
          placeholder="Introduce la cocina"
          class="form-control"
          formControlName="cocina"
          [class]="isvalidField('cocina')"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="form-group col-md-6">
        <label for="terraza">Terraza</label>
        <input
          id="terraza"
          type="number"
          placeholder="Intruduce el numero de terrazas"
          class="form-control"
          formControlName="terraza"
          [class]="isvalidField('terraza')"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="m2">m2 </label>
        <input
          id="m2"
          type="text"
          placeholder="Selecciona"
          class="form-control"
          formControlName="m2"
          [class]="isvalidField('m2')"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
    </div>

    <div class="form-group text-center">
      <button
        type="submit"
        
        class="btn btn-inmueble btn-primary mt-3"
      >
        Crear Inmueble
      </button>
    </div>
  </form>
</div>
