<div class="body-page">
  <table class="table table-responsive-lg table-page">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Dormitorios</th>
        <th scope="col">Precio</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="table-encargo">Illya</div>
        </td>
        <td>
          <div class="table-encargo">Alvarado</div>
        </td>
        <td>
          <div class="table-encargo">634 65 74 87</div>
        </td>
        <td>
          <div class="table-encargo ml-5">6</div>
        </td>
        <td>
          <div class="table-encargo">80.000€</div>
        </td>
        <td>
          <div class="table-content-center">
            <img src="../../../../assets/iconos-tabla/editar.svg" alt="" />

            <img
              class="ml-2"
              src="../../../../assets/iconos-tabla/eliminar.svg"
              alt=""
            />
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="table-encargo">Illya</div>
        </td>
        <td>
          <div class="table-encargo">Alvarado</div>
        </td>
        <td>
          <div class="table-encargo">634 65 74 87</div>
        </td>
        <td>
          <div class="table-encargo ml-5">2</div>
        </td>
        <td>
          <div class="table-encargo">80.000€</div>
        </td>
        <td>
          <div class="table-content-center">
            <img src="../../../../assets/iconos-tabla/editar.svg" alt="" />

            <img
              class="ml-2"
              src="../../../../assets/iconos-tabla/eliminar.svg"
              alt=""
            />
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="table-encargo">Illya</div>
        </td>
        <td>
          <div class="table-encargo">Alvarado</div>
        </td>
        <td>
          <div class="table-encargo">634 65 74 87</div>
        </td>
        <td>
          <div class="table-encargo ml-5">8</div>
        </td>
        <td>
          <div class="table-encargo">80.000€</div>
        </td>
        <td>
          <div class="table-content-center">
            <img src="../../../../assets/iconos-tabla/editar.svg" alt="" />

            <img
              class="ml-2"
              src="../../../../assets/iconos-tabla/eliminar.svg"
              alt=""
            />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<button
  routerLink="/crear-encargo"
  class="btn btn-inmueble btn-primary mt-3"
  style="margin-left: 4%"
>
  Crear Pedido
</button>
