<!-- Main Sidebar Container -->
<aside style="position: fixed" class="main-sidebar sidebar-light-primary">
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <img class="logo" src="../../../assets/img/logo-rucampo.svg" alt="" />
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

        <li class="nav-item">
          <a routerLink="inmuebles" class="nav-link">
            <img
              class="nav-icon mr-1"
              src="../../../assets/Iconos-Rucampo-Menu/casa-Rucampo.svg"
              alt=""
            />
            <p>Inmuebles</p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="noticias" class="nav-link">
            <img
              class="nav-icon mr-1"
              src="../../../assets/Iconos-Rucampo-Menu/Mensajes-rucampo.svg"
              alt=""
            />
            <p>Noticias</p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="aquisicion" class="nav-link">
            <img
              class="nav-icon mr-1"
              src="../../../assets/Iconos-Rucampo-Menu/Adiquisicion-rucampo.svg"
              alt=""
            />
            <p>Adquisición</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="encargos" class="nav-link">
            <img
              class="nav-icon mr-1"
              src="../../../assets/Iconos-Rucampo-Menu/Encargo-rucampo.svg"
              alt=""
            />
            <p>Encargos</p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="pedidos" class="nav-link">
            <img
              class="nav-icon mr-1"
              src="../../../assets/Iconos-Rucampo-Menu/Pedido-rucampo.svg"
              alt=""
            />
            <p>Pedido</p>
          </a>
        </li>

        <hr />

        <li class="nav-item">
          <a routerLink="cita-comercial" class="nav-link">
            <img
              class="nav-icon mr-1"
              src="../../../assets/Iconos-Rucampo-Menu/Cita-rucampo.svg"
              alt=""
            />
            <p>Cita Comercial</p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="agenda" class="nav-link">
            <img
              class="nav-icon mr-1"
              src="../../../assets/Iconos-Rucampo-Menu/Agenda-rucampo.svg"
              alt=""
            />
            <p>Agenda</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="propietarios" class="nav-link">
            <img
              class="nav-icon mr-1"
              src="../../../assets/Iconos-Rucampo-Menu/Propietarios-rucampo.svg"
              alt=""
            />
            <p>Propietarios</p>
          </a>
        </li>
        <hr />
        <li class="nav-item">
          <a href="pages/gallery.html" class="nav-link">
            <i class="nav-icon fa-regular fa-circle-question"></i>
            <p>Settings</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="pages/gallery.html" class="nav-link">
            <i class="nav-icon fa-solid fa-right-from-bracket"></i>
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
