<div class="body-page">
  <table class="table table-responsive-lg table-page">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Vivienda</th>

        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let propietario of propietarios">
        <td>
          <div class="table-encargo">{{ propietario.nombre }}</div>
        </td>
        <td>
          <div class="table-encargo">{{ propietario.apellido }}</div>
        </td>
        <td>
          <div class="table-encargo">{{ propietario.telefono }}</div>
        </td>
        <td>
          <div class="table-encargo">{{ propietario.vivienda }}</div>
        </td>

        <td>
          <div class="table-content-center">
            <img src="../../../../assets/iconos-tabla/editar.svg" alt="" />

            <img
              class="ml-2"
              src="../../../../assets/iconos-tabla/eliminar.svg"
              alt=""
            />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<button
  routerLink="/crear-propietario"
  class="btn btn-inmueble btn-primary mt-3"
  style="margin-left: 4%"
>
  Crear Propietario
</button>
