<div class="body-page">
  <form class="col-md-11 page">
    <div class="form-group text-center">
      <img src="../../../../assets//img/camera.png" class="img-camera" alt="" />
      <h3 class="img-text">Colocar imagen</h3>
    </div>

    <div class="form row">
      <div class="form-group col-md-6">
        <label for="direccion">Dirección </label>
        <input
          id="direccion"
          type="text"
          placeholder="Intruduce una dirección"
          class="form-control"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="salon">Salón </label>
        <input
          id="salon"
          type="text"
          placeholder="Introduce un salón"
          class="form-control"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="form-group col-md-6">
        <label for="piso">Piso </label>
        <input
          id="piso"
          type="text"
          placeholder="Intruduce el piso"
          class="form-control"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="numero">Número </label>
        <input
          id="numero"
          type="text"
          placeholder="Introduce el número"
          class="form-control"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="form-group col-md-6">
        <label for="propietario">Propietario </label>
        <input
          id="propietario"
          type="Select"
          placeholder="Seleccionar"
          class="form-control"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="puerta">Puerta </label>
        <input
          id="puerta"
          type="text"
          placeholder="Introduce la puerta"
          class="form-control"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="form-group col-md-6">
        <label for="telefono">Teléfono</label>
        <input
          id="telefono"
          type="number"
          placeholder="Intruduce el teléfono"
          class="form-control"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="inquilino">Inquilino </label>
        <input
          id="inquilino"
          type="text"
          placeholder="Introduce el nombre del inquilino"
          class="form-control"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="form-group col-md-6">
        <label for="dormitorio">Dormitorios</label>
        <input
          id="dormitorio"
          type="number"
          placeholder="Intruduce el numero de dormitorios"
          class="form-control"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="valoracion">Valoracion </label>
        <input
          id="valoracion"
          type="select"
          placeholder="Seleccionar"
          class="form-control"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="form-group col-md-6">
        <label for="baño">Baño</label>
        <input
          id="baño"
          type="number"
          placeholder="Intruduce el numero de baños"
          class="form-control"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="cocina">Cocina </label>
        <input
          id="cocina"
          type="text"
          placeholder="Introduce la cocina"
          class="form-control"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="form-group col-md-6">
        <label for="terraza">Terraza</label>
        <input
          id="terraza"
          type="number"
          placeholder="Intruduce el numero de terrazas"
          class="form-control"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="m2">m2 </label>
        <input
          id="m2"
          type="text"
          placeholder="Selecciona"
          class="form-control"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="form-group col-md-6">
        <label for="fecha-inicio">Fecha de encargo inicio</label>
        <input
          id="fecha-inicio"
          type="number"
          placeholder="Intruduce la fecha "
          class="form-control"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="fecha-fin">Fecha fin de encaro </label>
        <input
          id="fecha-fin"
          type="text"
          placeholder="Introduce la fecha"
          class="form-control"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="form-group col-md-6 offset-md-3">
        <label for="precio">Precio</label>
        <input
          id="precio"
          type="number"
          placeholder="Intruduce el precio"
          class="form-control"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
    </div>

    <div class="form-group text-center">
      <button class="btn btn-inmueble btn-primary mt-3">Crear Encargo</button>
    </div>
  </form>
</div>
