<div class="body-page">
  <form
    class="col-md-11 page"
    style="margin-top: 10%"
    (ngSubmit)="onSave()"
    [formGroup]="propietarioForm"
  >
    <div class="form-group text-center">
      <img src="../../../../assets//img/camera.png" class="img-camera" alt="" />
      <h3 class="img-text">Colocar imagen</h3>
    </div>

    <div class="form row">
      <div class="form-group col-md-6">
        <label for="nombre">Nombre </label>
        <input
          id="nombre"
          type="text"
          placeholder="Intruduce el nombre"
          class="form-control"
          formControlName="nombre"
          [class]="isvalidField('nombre')"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="apellido">Apellido </label>
        <input
          id="apellido"
          type="text"
          placeholder="Introduce el apellido"
          class="form-control"
          formControlName="apellido"
          [class]="isvalidField('apellido')"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="form-group col-md-12">
        <label for="teléfono">Teléfono </label>
        <input
          id="teléfono"
          type="text"
          placeholder="Intruduce el teléfono"
          class="form-control"
          formControlName="telefono"
          [class]="isvalidField('telefono')"
        />
        <div class="invalid-feedback">
          <span>This field is required</span>
        </div>
      </div>
    </div>

    <div class="form-group text-center">
      <button class="btn btn-inmueble btn-primary mt-3">
        Crear Propietario
      </button>
    </div>
  </form>
</div>
